<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="TheV" type="TheV.ConsoleNet4.Configuration.TheVConfigurationSection,TheV" allowDefinition="Everywhere" requirePermission="false" />
  </configSections>
  <TheV>
    <VersionChecks>
      <!--
        Setup generic version checks!      
        Add generic version check:
        <VersionCheck title="Generic Test Node" name="Node" filename="node" arguments="-v" />
        <VersionCheck title="Generic Test Npm" name="Npm" filename="npm" arguments="-v" />
      -->
      <VersionCheck title="Generic Test Node" name="Node" filename="node" arguments="-v" />
    </VersionChecks>
  </TheV>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.7.0" newVersion="3.1.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>